body {
    margin: 0 auto;
}

.menu{  
    margin-left: 75%;
    margin-top: 3%;  
}

.logo{
    margin-top: 24px;
    margin-left: 10%;
}

.fthome {
    display: block;
    margin-left: 15%;
    width: 50%;
}

.conteudo{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.hconteudo{
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

footer {
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}

table{
    background-color: rgb(213 213 225);
    color:black;
    padding:25px;
    border-style: solid;
    margin:auto;
    margin-top:8%;
}

table tr >td{
    border-style:inset;
    padding:10px;
}